---
apiVersion: v1
kind: Namespace
metadata:
  name: argo-workflows
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-workflows
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: 'https://github.com/argoproj/argo-helm'
      path:  charts/argo-workflows
      targetRevision: HEAD
      helm:
        values: |
          server:
            extraArgs:
            - --auth-mode=server  
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argo-workflows
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

#serviceType: LoadBalancer

